USE [MusicWaveDb]
GO
ALTER TABLE [dbo].[UserSongRatings] DROP CONSTRAINT [CK_UserSongRatings_Rating]
GO
ALTER TABLE [dbo].[UserSongRatings] DROP CONSTRAINT [FK_UserSongRatings_Songs_SongId]
GO
ALTER TABLE [dbo].[UserSongRatings] DROP CONSTRAINT [FK_UserSongRatings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserFollows] DROP CONSTRAINT [FK_UserFollows_AspNetUsers_FollowerId]
GO
ALTER TABLE [dbo].[UserFollows] DROP CONSTRAINT [FK_UserFollows_AspNetUsers_FolloweeId]
GO
ALTER TABLE [dbo].[Songs] DROP CONSTRAINT [FK_Songs_Artists_ArtistId]
GO
ALTER TABLE [dbo].[Songs] DROP CONSTRAINT [FK_Songs_Albums_AlbumId]
GO
ALTER TABLE [dbo].[SongRatings] DROP CONSTRAINT [FK_SongRatings_Songs_SongId]
GO
ALTER TABLE [dbo].[SongRatings] DROP CONSTRAINT [FK_SongRatings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SongGenres] DROP CONSTRAINT [FK_SongGenres_Songs_SongId]
GO
ALTER TABLE [dbo].[SongGenres] DROP CONSTRAINT [FK_SongGenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[PlaylistSongs] DROP CONSTRAINT [FK_PlaylistSongs_Songs_SongId]
GO
ALTER TABLE [dbo].[PlaylistSongs] DROP CONSTRAINT [FK_PlaylistSongs_Playlists_PlaylistId]
GO
ALTER TABLE [dbo].[Playlists] DROP CONSTRAINT [FK_Playlists_AspNetUsers_OwnerId]
GO
ALTER TABLE [dbo].[PlayHistories] DROP CONSTRAINT [FK_PlayHistories_Songs_SongId]
GO
ALTER TABLE [dbo].[PlayHistories] DROP CONSTRAINT [FK_PlayHistories_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LyricLines] DROP CONSTRAINT [FK_LyricLines_Songs_SongId]
GO
ALTER TABLE [dbo].[FavoriteSongs] DROP CONSTRAINT [FK_FavoriteSongs_Songs_SongId]
GO
ALTER TABLE [dbo].[FavoriteSongs] DROP CONSTRAINT [FK_FavoriteSongs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChartEntries] DROP CONSTRAINT [FK_ChartEntries_Songs_SongId]
GO
ALTER TABLE [dbo].[AspNetUserTokens] DROP CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles] DROP CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserLogins] DROP CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims] DROP CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims] DROP CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[Albums] DROP CONSTRAINT [FK_Albums_Artists_ArtistId]
GO
ALTER TABLE [dbo].[UserSongRatings] DROP CONSTRAINT [DF__UserSongR__Rated__4CA06362]
GO
ALTER TABLE [dbo].[Songs] DROP CONSTRAINT [DF__Songs__IsPublic__6E01572D]
GO
ALTER TABLE [dbo].[Songs] DROP CONSTRAINT [DF__Songs__ViewCount__4BAC3F29]
GO
ALTER TABLE [dbo].[SongRatings] DROP CONSTRAINT [DF__SongRatin__Creat__4AB81AF0]
GO
/****** Object:  Table [dbo].[UserSongRatings]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserSongRatings]') AND type in (N'U'))
DROP TABLE [dbo].[UserSongRatings]
GO
/****** Object:  Table [dbo].[UserFollows]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserFollows]') AND type in (N'U'))
DROP TABLE [dbo].[UserFollows]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Songs]') AND type in (N'U'))
DROP TABLE [dbo].[Songs]
GO
/****** Object:  Table [dbo].[SongRatings]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SongRatings]') AND type in (N'U'))
DROP TABLE [dbo].[SongRatings]
GO
/****** Object:  Table [dbo].[SongGenres]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SongGenres]') AND type in (N'U'))
DROP TABLE [dbo].[SongGenres]
GO
/****** Object:  Table [dbo].[PlaylistSongs]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaylistSongs]') AND type in (N'U'))
DROP TABLE [dbo].[PlaylistSongs]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Playlists]') AND type in (N'U'))
DROP TABLE [dbo].[Playlists]
GO
/****** Object:  Table [dbo].[PlayHistories]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlayHistories]') AND type in (N'U'))
DROP TABLE [dbo].[PlayHistories]
GO
/****** Object:  Table [dbo].[LyricLines]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LyricLines]') AND type in (N'U'))
DROP TABLE [dbo].[LyricLines]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Genres]') AND type in (N'U'))
DROP TABLE [dbo].[Genres]
GO
/****** Object:  Table [dbo].[FavoriteSongs]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FavoriteSongs]') AND type in (N'U'))
DROP TABLE [dbo].[FavoriteSongs]
GO
/****** Object:  Table [dbo].[ChartEntries]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ChartEntries]') AND type in (N'U'))
DROP TABLE [dbo].[ChartEntries]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserTokens]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserTokens]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUsers]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserRoles]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserLogins]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserLogins]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetUserClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetUserClaims]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoles]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoles]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AspNetRoleClaims]') AND type in (N'U'))
DROP TABLE [dbo].[AspNetRoleClaims]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Artists]') AND type in (N'U'))
DROP TABLE [dbo].[Artists]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Albums]') AND type in (N'U'))
DROP TABLE [dbo].[Albums]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/23/2025 9:01:32 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__EFMigrationsHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__EFMigrationsHistory]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[CoverUrl] [nvarchar](max) NULL,
	[ArtistId] [int] NOT NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artists]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Bio] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NULL,
 CONSTRAINT [PK_Artists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[DisplayName] [nvarchar](max) NULL,
	[AvatarUrl] [nvarchar](max) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChartEntries]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChartEntries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChartDate] [datetime2](7) NOT NULL,
	[ChartType] [nvarchar](max) NOT NULL,
	[Rank] [int] NOT NULL,
	[Percentage] [float] NOT NULL,
	[SongId] [int] NOT NULL,
 CONSTRAINT [PK_ChartEntries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteSongs]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteSongs](
	[UserId] [nvarchar](450) NOT NULL,
	[SongId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_FavoriteSongs] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[TileImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LyricLines]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LyricLines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SongId] [int] NOT NULL,
	[TimestampSeconds] [float] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsHighlighted] [bit] NOT NULL,
 CONSTRAINT [PK_LyricLines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayHistories]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayHistories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayedAt] [datetime2](7) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[SongId] [int] NOT NULL,
 CONSTRAINT [PK_PlayHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CoverUrl] [nvarchar](max) NULL,
	[IsPublic] [bit] NOT NULL,
	[OwnerId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_Playlists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaylistSongs]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaylistSongs](
	[PlaylistId] [int] NOT NULL,
	[SongId] [int] NOT NULL,
	[Order] [int] NOT NULL,
 CONSTRAINT [PK_PlaylistSongs] PRIMARY KEY CLUSTERED 
(
	[PlaylistId] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongGenres]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongGenres](
	[SongId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_SongGenres] PRIMARY KEY CLUSTERED 
(
	[SongId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SongRatings]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SongRatings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SongId] [int] NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Value] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Songs]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Songs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Duration] [time](7) NOT NULL,
	[AudioUrl] [nvarchar](max) NULL,
	[CoverUrl] [nvarchar](max) NULL,
	[ReleaseDate] [datetime2](7) NOT NULL,
	[ArtistId] [int] NOT NULL,
	[AlbumId] [int] NULL,
	[LyricsUrl] [nvarchar](max) NULL,
	[ViewCount] [int] NOT NULL,
	[IsPublic] [bit] NOT NULL,
 CONSTRAINT [PK_Songs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollows]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollows](
	[FollowerId] [nvarchar](450) NOT NULL,
	[FolloweeId] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserFollows] PRIMARY KEY CLUSTERED 
(
	[FollowerId] ASC,
	[FolloweeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSongRatings]    Script Date: 12/23/2025 9:01:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSongRatings](
	[UserId] [nvarchar](450) NOT NULL,
	[SongId] [int] NOT NULL,
	[Rating] [decimal](3, 2) NOT NULL,
	[RatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserSongRatings] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[SongId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251127143839_InitialCreate', N'8.0.10')
GO
SET IDENTITY_INSERT [dbo].[Artists] ON 

INSERT [dbo].[Artists] ([Id], [Name], [Bio], [AvatarUrl], [UserId]) VALUES (1, N'Phương Ly', NULL, N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/phuongly.jpg', NULL)
INSERT [dbo].[Artists] ([Id], [Name], [Bio], [AvatarUrl], [UserId]) VALUES (2, N'Sobin Hoàng Sơn', NULL, N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/soobinhoangson.jpg', NULL)
INSERT [dbo].[Artists] ([Id], [Name], [Bio], [AvatarUrl], [UserId]) VALUES (3, N'Dương Domic', NULL, N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/duongdomic.jpg', NULL)
SET IDENTITY_INSERT [dbo].[Artists] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'51faa627-e14c-478f-9176-4f126a64c9b4', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'ee0adf55-13d8-4736-8aaf-02e11e7e1173', N'User', N'USER', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5874912a-4fb1-4fef-be99-5ea546e4eab8', N'ee0adf55-13d8-4736-8aaf-02e11e7e1173')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', N'ee0adf55-13d8-4736-8aaf-02e11e7e1173')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'7cd51288-b9e9-4e1e-a943-97e20c8e5721', N'51faa627-e14c-478f-9176-4f126a64c9b4')
GO
SET IDENTITY_INSERT [dbo].[ChartEntries] ON 

INSERT [dbo].[ChartEntries] ([Id], [ChartDate], [ChartType], [Rank], [Percentage], [SongId]) VALUES (1, CAST(N'2025-12-13T07:56:03.7572058' AS DateTime2), N'weekly', 1, 0.45, 1)
INSERT [dbo].[ChartEntries] ([Id], [ChartDate], [ChartType], [Rank], [Percentage], [SongId]) VALUES (2, CAST(N'2025-12-13T07:56:03.7670581' AS DateTime2), N'weekly', 2, 0.2, 2)
INSERT [dbo].[ChartEntries] ([Id], [ChartDate], [ChartType], [Rank], [Percentage], [SongId]) VALUES (3, CAST(N'2025-12-13T07:56:03.7671176' AS DateTime2), N'weekly', 3, 0.15, 3)
SET IDENTITY_INSERT [dbo].[ChartEntries] OFF
GO
INSERT [dbo].[FavoriteSongs] ([UserId], [SongId], [CreatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', 2, CAST(N'2025-12-14T18:22:12.4326277' AS DateTime2))
INSERT [dbo].[FavoriteSongs] ([UserId], [SongId], [CreatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', 4, CAST(N'2025-12-14T18:09:25.0913400' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([Id], [Name], [Description], [TileImageUrl]) VALUES (1, N'EDM Sôi Động', NULL, N'https://picsum.photos/id/310/400/200')
INSERT [dbo].[Genres] ([Id], [Name], [Description], [TileImageUrl]) VALUES (2, N'Acoustic Chill', NULL, N'https://picsum.photos/id/320/400/200')
INSERT [dbo].[Genres] ([Id], [Name], [Description], [TileImageUrl]) VALUES (3, N'Lofi Học Bài', NULL, N'https://picsum.photos/id/330/400/200')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[PlayHistories] ON 

INSERT [dbo].[PlayHistories] ([Id], [PlayedAt], [UserId], [SongId]) VALUES (133, CAST(N'2025-12-18T13:49:35.5587471' AS DateTime2), N'7754117d-5c46-4c15-8282-3a153fe883b8', 1)
INSERT [dbo].[PlayHistories] ([Id], [PlayedAt], [UserId], [SongId]) VALUES (136, CAST(N'2025-12-19T08:56:00.3742759' AS DateTime2), N'5874912a-4fb1-4fef-be99-5ea546e4eab8', 10)
INSERT [dbo].[PlayHistories] ([Id], [PlayedAt], [UserId], [SongId]) VALUES (137, CAST(N'2025-12-19T08:56:07.0728147' AS DateTime2), N'5874912a-4fb1-4fef-be99-5ea546e4eab8', 5)
SET IDENTITY_INSERT [dbo].[PlayHistories] OFF
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([Id], [Name], [Description], [CoverUrl], [IsPublic], [OwnerId]) VALUES (1, N'Nhạc Của Tui', N'Những bài hát yêu thích nhất', N'https://picsum.photos/id/180/300/300', 1, N'ea19177f-4607-4d8b-bc20-0f20ff297409')
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
INSERT [dbo].[PlaylistSongs] ([PlaylistId], [SongId], [Order]) VALUES (1, 1, 1)
INSERT [dbo].[PlaylistSongs] ([PlaylistId], [SongId], [Order]) VALUES (1, 2, 2)
INSERT [dbo].[PlaylistSongs] ([PlaylistId], [SongId], [Order]) VALUES (1, 3, 3)
GO
INSERT [dbo].[SongGenres] ([SongId], [GenreId]) VALUES (1, 4)
INSERT [dbo].[SongGenres] ([SongId], [GenreId]) VALUES (2, 11)
INSERT [dbo].[SongGenres] ([SongId], [GenreId]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [dbo].[SongRatings] ON 

INSERT [dbo].[SongRatings] ([Id], [SongId], [UserId], [Value], [CreatedAt]) VALUES (1, 2, N'7754117d-5c46-4c15-8282-3a153fe883b8', 4, CAST(N'2025-12-14T18:08:48.0263449' AS DateTime2))
SET IDENTITY_INSERT [dbo].[SongRatings] OFF
GO
SET IDENTITY_INSERT [dbo].[Songs] ON 

INSERT [dbo].[Songs] ([Id], [Title], [Description], [Duration], [AudioUrl], [CoverUrl], [ReleaseDate], [ArtistId], [AlbumId], [LyricsUrl], [ViewCount], [IsPublic]) VALUES (1, N'Anh Là Ai', NULL, CAST(N'00:04:17' AS Time), N'https://pub-58b2e24834214ddb922477279bdf5ff7.r2.dev/Anh%20L%C3%A0%20Ai.mp3', N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/0806ea1c463042079f3fc0316d2032b0.jpg', CAST(N'2025-11-23T07:56:03.5322950' AS DateTime2), 1, NULL, N'https://pub-87373e218bc4407c8df5c79268c30d48.r2.dev/anh_la_ai.txt', 31, 1)
INSERT [dbo].[Songs] ([Id], [Title], [Description], [Duration], [AudioUrl], [CoverUrl], [ReleaseDate], [ArtistId], [AlbumId], [LyricsUrl], [ViewCount], [IsPublic]) VALUES (2, N'Dancing In The Dark', NULL, CAST(N'00:03:47' AS Time), N'https://pub-58b2e24834214ddb922477279bdf5ff7.r2.dev/Dancing%20In%20The%20Dark.mp3', N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/c898ca8096ca588034541539ee1d9016.1000x1000x1.png', CAST(N'2025-12-03T07:56:03.5324593' AS DateTime2), 2, NULL, N'https://pub-87373e218bc4407c8df5c79268c30d48.r2.dev/dancing_in_the_dark.txt', 39, 1)
INSERT [dbo].[Songs] ([Id], [Title], [Description], [Duration], [AudioUrl], [CoverUrl], [ReleaseDate], [ArtistId], [AlbumId], [LyricsUrl], [ViewCount], [IsPublic]) VALUES (3, N'Giá Như', NULL, CAST(N'00:03:43' AS Time), N'https://pub-58b2e24834214ddb922477279bdf5ff7.r2.dev/Gi%C3%A1%20Nh%C6%B0.mp3', N'https://pub-324f8069623142339b8c13eaa25fe400.r2.dev/120240420052059.jpg', CAST(N'2025-12-08T07:56:03.5324598' AS DateTime2), 2, NULL, N'https://pub-87373e218bc4407c8df5c79268c30d48.r2.dev/gia_nhu.txt', 28, 1)
SET IDENTITY_INSERT [dbo].[Songs] OFF
GO
INSERT [dbo].[UserFollows] ([FollowerId], [FolloweeId], [CreatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', N'5874912a-4fb1-4fef-be99-5ea546e4eab8', CAST(N'2025-12-19T09:02:35.3220431' AS DateTime2))
GO
INSERT [dbo].[UserSongRatings] ([UserId], [SongId], [Rating], [RatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', 1, CAST(4.00 AS Decimal(3, 2)), CAST(N'2025-12-15T14:46:48.5580834' AS DateTime2))
INSERT [dbo].[UserSongRatings] ([UserId], [SongId], [Rating], [RatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', 2, CAST(5.00 AS Decimal(3, 2)), CAST(N'2025-12-15T14:46:43.7258512' AS DateTime2))
INSERT [dbo].[UserSongRatings] ([UserId], [SongId], [Rating], [RatedAt]) VALUES (N'7754117d-5c46-4c15-8282-3a153fe883b8', 3, CAST(2.00 AS Decimal(3, 2)), CAST(N'2025-12-15T14:46:41.4620482' AS DateTime2))
GO
ALTER TABLE [dbo].[SongRatings] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT ((0)) FOR [ViewCount]
GO
ALTER TABLE [dbo].[Songs] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsPublic]
GO
ALTER TABLE [dbo].[UserSongRatings] ADD  DEFAULT (getutcdate()) FOR [RatedAt]
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Artists_ArtistId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ChartEntries]  WITH CHECK ADD  CONSTRAINT [FK_ChartEntries_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChartEntries] CHECK CONSTRAINT [FK_ChartEntries_Songs_SongId]
GO
ALTER TABLE [dbo].[FavoriteSongs]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteSongs_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteSongs] CHECK CONSTRAINT [FK_FavoriteSongs_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[FavoriteSongs]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteSongs_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteSongs] CHECK CONSTRAINT [FK_FavoriteSongs_Songs_SongId]
GO
ALTER TABLE [dbo].[LyricLines]  WITH CHECK ADD  CONSTRAINT [FK_LyricLines_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LyricLines] CHECK CONSTRAINT [FK_LyricLines_Songs_SongId]
GO
ALTER TABLE [dbo].[PlayHistories]  WITH CHECK ADD  CONSTRAINT [FK_PlayHistories_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayHistories] CHECK CONSTRAINT [FK_PlayHistories_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[PlayHistories]  WITH CHECK ADD  CONSTRAINT [FK_PlayHistories_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlayHistories] CHECK CONSTRAINT [FK_PlayHistories_Songs_SongId]
GO
ALTER TABLE [dbo].[Playlists]  WITH CHECK ADD  CONSTRAINT [FK_Playlists_AspNetUsers_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Playlists] CHECK CONSTRAINT [FK_Playlists_AspNetUsers_OwnerId]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Playlists_PlaylistId] FOREIGN KEY([PlaylistId])
REFERENCES [dbo].[Playlists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Playlists_PlaylistId]
GO
ALTER TABLE [dbo].[PlaylistSongs]  WITH CHECK ADD  CONSTRAINT [FK_PlaylistSongs_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PlaylistSongs] CHECK CONSTRAINT [FK_PlaylistSongs_Songs_SongId]
GO
ALTER TABLE [dbo].[SongGenres]  WITH CHECK ADD  CONSTRAINT [FK_SongGenres_Genres_GenreId] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongGenres] CHECK CONSTRAINT [FK_SongGenres_Genres_GenreId]
GO
ALTER TABLE [dbo].[SongGenres]  WITH CHECK ADD  CONSTRAINT [FK_SongGenres_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongGenres] CHECK CONSTRAINT [FK_SongGenres_Songs_SongId]
GO
ALTER TABLE [dbo].[SongRatings]  WITH CHECK ADD  CONSTRAINT [FK_SongRatings_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongRatings] CHECK CONSTRAINT [FK_SongRatings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[SongRatings]  WITH CHECK ADD  CONSTRAINT [FK_SongRatings_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SongRatings] CHECK CONSTRAINT [FK_SongRatings_Songs_SongId]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Albums_AlbumId] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Albums_AlbumId]
GO
ALTER TABLE [dbo].[Songs]  WITH CHECK ADD  CONSTRAINT [FK_Songs_Artists_ArtistId] FOREIGN KEY([ArtistId])
REFERENCES [dbo].[Artists] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Songs] CHECK CONSTRAINT [FK_Songs_Artists_ArtistId]
GO
ALTER TABLE [dbo].[UserFollows]  WITH CHECK ADD  CONSTRAINT [FK_UserFollows_AspNetUsers_FolloweeId] FOREIGN KEY([FolloweeId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserFollows] CHECK CONSTRAINT [FK_UserFollows_AspNetUsers_FolloweeId]
GO
ALTER TABLE [dbo].[UserFollows]  WITH CHECK ADD  CONSTRAINT [FK_UserFollows_AspNetUsers_FollowerId] FOREIGN KEY([FollowerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserFollows] CHECK CONSTRAINT [FK_UserFollows_AspNetUsers_FollowerId]
GO
ALTER TABLE [dbo].[UserSongRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserSongRatings_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSongRatings] CHECK CONSTRAINT [FK_UserSongRatings_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserSongRatings]  WITH CHECK ADD  CONSTRAINT [FK_UserSongRatings_Songs_SongId] FOREIGN KEY([SongId])
REFERENCES [dbo].[Songs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSongRatings] CHECK CONSTRAINT [FK_UserSongRatings_Songs_SongId]
GO
ALTER TABLE [dbo].[UserSongRatings]  WITH CHECK ADD  CONSTRAINT [CK_UserSongRatings_Rating] CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[UserSongRatings] CHECK CONSTRAINT [CK_UserSongRatings_Rating]
GO
