@model MusicWeb.Models.ViewModels.HomeViewModel

<div id="library-view" class="content-padding hidden">
    <div class="section-title" style="margin-top:10px;">
        <span>Bảng xếp hạng #zingchart</span>
    </div>
    <div id="library-chart-container" class="chart-list"></div>
</div>
